:root {
    --inactive-color: #CCC;
    --active-color: #333;
    --transition-speed: 200ms;
    --input-width: 200px;
}

.ma-form-group,
.form-group {
    margin: 10px;
}

.ma-form-group {
    position: relative;
}

.ma-input {
    width: 100%;
    max-width: var(--input-width);
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid var(--inactive-color);
}

.ma-input:focus {
    outline: none;
}

.ma-input:valid {
    border-bottom: 1px solid var(--active-color);
}

.ma-input~label {
    pointer-events: none;
    position: absolute;
    left: 5px;
    top: 10px;
    color: var(--inactive-color);
}

.ma-input:focus~label,
.ma-input:valid~label {
    top: -15px;
    color: var(--active-color);
    -webkit-transition: top var(--transition-speed) ease;
    -moz-transition: top var(--transition-speed) ease;
    transition: top var(--transition-speed) ease;
}

.bar {
    position: relative;
    max-width: var(--input-width);
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    top: -1px;
    background-color: var(--active-color);
    -webkit-transition: width var(--transition-speed) ease;
    -moz-transition: width var(--transition-speed) ease;
    transition: width var(--transition-speed) ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.ma-input:focus~.bar:before,
.ma-input:focus~.bar:after {
    width: 50%;
}

.ma-button {
    outline: none;
    border: 1px solid var(--active-color);
    background-color: #FFF;
    cursor: pointer;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    padding: 0;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all var(--transition-speed) ease;
    -moz-transition: all var(--transition-speed) ease;
    transition: all var(--transition-speed) ease;
}

.ma-button:hover {
    background-color: var(--active-color);
    color: #FFF;
}

.ma-button>.box {
    padding: 0 2rem;
    overflow: hidden;
    user-select: none;
    position: relative;
}

.ripple-effect {
    pointer-events: none;
    background-color: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    animation-name: ripple;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes ripple {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}